
/* posisionamineto*/



.parrafo {
width: 30%;
}
.colorMenu{
    color: rgb(248, 175, 187);
}
nav {
    padding: 20px;
    justify-content: space-around;
    margin-right: 50px;
}
    /*pagina Reservas calendario*/
.calendario{
    margin-left: 5%;
    width: 80%;
}
/*pagina contacto */
.borde{
    margin-left: 15px;
}
/* trancision*/
.mover{
    transition: all 3s;
}
.mover:hover{
    height: 110%;
    width: 50%;
    background-color: rgb(240, 132, 195);
}