@charset "UTF-8";
/*mixin*/
/* Mapa */
@import url("https://fonts.googleapis.com/css2? family= Nunito+Sans:ital,wght@0,600;1,200 & display=swap");
/* responsive diseño */
/*map-get*/
/* desktop*/
@media (min-width: 1024px) {
  header > img {
    height: 200px;
    width: 200px;
  }
  /*extend*/
  header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-end;
  }
  /* tamaños de letra*/
  h1 {
    font-size: 70px;
    padding-top: 5px;
    margin-top: 50px;
  }
  .subtitulo {
    font-size: 25px;
    padding-top: 5px;
  }
  h3 {
    font-size: 30px;
    padding-top: 100px;
  }
  p {
    font-size: 20px;
    color: color("100");
  }
  nav > span {
    list-style: none;
    width: 12px;
    height: 30px;
    padding: 3px 15px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-left: 5px solid;
    margin: 15px;
  }
  span:hover {
    background-color: rgb(252, 252, 252);
    border-left: solid 5px rgb(210, 30, 99);
  }
  header {
    background-image: url(./img/descarga1.PNG);
    width: 100%;
    height: 200px;
  }
  /*Trancisiones*/
  .mover {
    transition: all 3s;
  }
  .mover:hover {
    height: 110%;
    width: 50%;
  }
  .movimiento {
    margin-left: 25%;
    width: 50%;
    height: 400px;
    margin-bottom: 50px;
  }
}
/* tablet*/
@media (min-width: 481px) and (max-width: 1023px) {
  header > img {
    height: 130px;
    width: 130px;
  }
  /* tamaños de letra*/
  h1 {
    font-size: 45px;
    padding-top: 5px;
    margin: 30px;
  }
  .subtitulo {
    font-size: 20px;
    padding-top: 10px;
  }
  p {
    font-size: 18px;
  }
  nav > span {
    list-style: none;
    width: 12px;
    height: 30px;
    padding: 3px 15px;
    margin: 1px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-left: 5px solid;
  }
  span:hover {
    background-color: rgb(252, 252, 252);
    border-left: solid 5px rgb(210, 30, 99);
  }
  body {
    background-color: rgb(216, 163, 241);
    font-family: "Edu VIC WA NT Beginner", cursive;
  }
  header {
    background-image: url(./img/descarga1.PNG);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    align-items: center;
    justify-content: flex-end;
    height: 200px;
  }
  /* pagina acerca enlace youtube */
  .movimiento {
    margin-left: 25%;
    width: 50%;
    height: 300px;
    margin-bottom: 50px;
  }
}
/* cel*/
@media (max-width: 480px) and (min-width: 380px) {
  /* tamaños de letra*/
  h1 {
    font-size: 35px;
    padding-top: 10px;
  }
  .subtitulo {
    font-size: 18px;
    padding-top: 10px;
  }
  p {
    font-size: 16px;
  }
  header > img {
    height: 100px;
    width: 100px;
  }
  body {
    background-color: rgb(157, 214, 247);
    font-family: "Edu VIC WA NT Beginner", cursive;
  }
  nav > span {
    list-style: none;
    width: 12px;
    height: 30px;
    padding: 1px 35px;
    margin: 6px;
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  span:hover {
    background-color: rgb(252, 252, 252);
    border-left: solid 5px rgb(210, 30, 99);
  }
  header {
    background-image: url(./img/descarga1.PNG);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: normal;
  }
  /* pagina acerca enlace youtube */
  .movimiento {
    margin-left: 1%;
    width: 100%;
    height: 200px;
  }
}
/* estilo de Footer */
footer > section {
  width: 100%;
  display: inline-block;
  background: rgb(49, 40, 40);
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background: rgb(83, 62, 79);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */
.footer-distributed h5 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h5 span {
  color: rgb(216, 163, 241);
}

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: rgb(29, 21, 26);
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */
.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #221b20;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* Responsive auto */
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
.btn--Tienda {
  background-color: #55acee;
}

.btn--Servicios {
  background-color: #ebaa84;
}

.btn--Acerca {
  background-color: #a0f17f;
}

/* fuente */
header {
  background-image: url(../img/descarga1.PNG);
}

/* medidas de carrusel*/
.carrusel {
  height: 60vh;
  max-height: 60vh;
}

body {
  background-color: rgb(243, 199, 223);
  font-family: "Edu VIC WA NT Beginner", cursive;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 25px;
}

.cursiva {
  font-style: italic;
}

.negrita {
  font-weight: bold;
}

.centrado {
  text-align: center;
}

.etiqueta {
  margin-top: 80px;
}

/*Pagina Contacto*/
.superior {
  margin-top: 20px;
}

.izq {
  margin-left: 30px;
}

/* posisionamineto*/
.parrafo {
  width: 30%;
}

.colorMenu {
  color: rgb(248, 175, 187);
}

nav {
  padding: 20px;
  justify-content: space-around;
  margin-right: 50px;
}

/*pagina Reservas calendario*/
.calendario {
  margin-left: 5%;
  width: 80%;
}

/*pagina contacto */
.borde {
  margin-left: 15px;
}

/* trancision*/
.mover {
  transition: all 3s;
}

.mover:hover {
  height: 110%;
  width: 50%;
  background-color: rgb(240, 132, 195);
}

/* Media Queries */
/* Footer */
/* Tamano de Letra*/
/* Movimiento */

/*# sourceMappingURL=destino.css.map */
